In [2]:
import pandas as pd
import numpy as np
from apyori import apriori

In [3]:
df=pd.read_csv('store_data.csv',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.fillna(0,inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
df.shape

(7501, 20)

In [6]:
transactions=[]
for i in range(0,len(df)):
    transactions.append([str(df.values[i,j]) for j in range(0,20) if str(df.values[i,j])!='0'])

In [7]:
transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [8]:
transactions[1]

['burgers', 'meatballs', 'eggs']

In [9]:
rules=apriori(transactions,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=2)

In [10]:
Results=list(rules)
df_results=pd.DataFrame(Results)
df_results.head()

,items,support,ordered_statistics
0,"(light cream, chicken)",0.004533,"[((light cream), (chicken), 0.2905982905982905..."
1,"(mushroom cream sauce, escalope)",0.005733,"[((mushroom cream sauce), (escalope), 0.300699..."
2,"(escalope, pasta)",0.005866,"[((pasta), (escalope), 0.3728813559322034, 4.7..."
3,"(honey, fromage blanc)",0.003333,"[((fromage blanc), (honey), 0.2450980392156863..."
4,"(ground beef, herb & pepper)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."

In [11]:
support=df_results.support

In [12]:
first_values=[]
second_values=[]
third_values=[]
fourth_values=[]
for i in range(df_results.shape[0]):
    single_list=df_results['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_values.append(single_list[3])

In [13]:
df_results['ordered_statistics'][0][0]

OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.29059829059829057, lift=4.84395061728395)

In [14]:
lhs=pd.DataFrame(first_values)
rhs=pd.DataFrame(second_values)
confidence=pd.DataFrame(third_values,columns=['Confidence'])
lift=pd.DataFrame(fourth_values,columns=['Lift'])

In [15]:
final_df=pd.concat([lhs,rhs,support,confidence,lift],axis=1)
final_df

,0,1,2,0,1,support,Confidence,Lift
0,light cream,None,None,chicken,None,0.004533,0.290598,4.843951
1,mushroom cream sauce,None,None,escalope,None,0.005733,0.300699,3.790833
2,pasta,None,None,escalope,None,0.005866,0.372881,4.700812
3,fromage blanc,None,None,honey,None,0.003333,0.245098,5.164271
4,herb & pepper,None,None,ground beef,None,0.015998,0.323450,3.291994
...,...,...,...,...,...,...,...,...
75,ground beef,olive oil,None,mineral water,spaghetti,0.003066,0.216981,3.632981
76,ground beef,pancakes,None,mineral water,spaghetti,0.003066,0.211009,3.532991
77,ground beef,tomatoes,None,mineral water,spaghetti,0.003066,0.261364,4.376091
78,mineral water,milk,spaghetti,olive oil,None,0.003333,0.211864,3.216994
79,milk,tomatoes,None,mineral water,spaghetti,0.003333,0.238095,3.986501

In [16]:
final_df.fillna(value=' ',inplace=True)
final_df.head()

                      0  1  2            0  1   support  Confidence      Lift
0           light cream            chicken     0.004533    0.290598  4.843951
1  mushroom cream sauce           escalope     0.005733    0.300699  3.790833
2                 pasta           escalope     0.005866    0.372881  4.700812
3         fromage blanc              honey     0.003333    0.245098  5.164271
4         herb & pepper        ground beef     0.015998    0.323450  3.291994

In [17]:
final_df.columns=['lhs',1,2,'rhs',3,'support','confidence','lift']
final_df.head()

                    lhs  1  2          rhs  3   support  confidence      lift
0           light cream            chicken     0.004533    0.290598  4.843951
1  mushroom cream sauce           escalope     0.005733    0.300699  3.790833
2                 pasta           escalope     0.005866    0.372881  4.700812
3         fromage blanc              honey     0.003333    0.245098  5.164271
4         herb & pepper        ground beef     0.015998    0.323450  3.291994

In [18]:
final_df['lhs']=final_df['lhs']+str(', ')+final_df[1]+str(', ')+final_df[2]
final_df['rhs']=final_df['rhs']+str(', ')+final_df[3]
final_df.head()

,lhs,1,2,rhs,3,support,confidence,lift
0,"light cream, ,",,,"chicken,",,0.004533,0.290598,4.843951
1,"mushroom cream sauce, ,",,,"escalope,",,0.005733,0.300699,3.790833
2,"pasta, ,",,,"escalope,",,0.005866,0.372881,4.700812
3,"fromage blanc, ,",,,"honey,",,0.003333,0.245098,5.164271
4,"herb & pepper, ,",,,"ground beef,",,0.015998,0.323450,3.291994

In [19]:
final_df.drop(columns=[1,2,3],inplace=True)
final_df.head()

                          lhs             rhs   support  confidence      lift
0           light cream,  ,        chicken,    0.004533    0.290598  4.843951
1  mushroom cream sauce,  ,       escalope,    0.005733    0.300699  3.790833
2                 pasta,  ,       escalope,    0.005866    0.372881  4.700812
3         fromage blanc,  ,          honey,    0.003333    0.245098  5.164271
4         herb & pepper,  ,    ground beef,    0.015998    0.323450  3.291994

In [20]:
final_df.sort_values('lift',ascending=False).head(10)

,lhs,rhs,support,confidence,lift
70,"soup, frozen vegetables,","mineral water, milk",0.003066,0.383333,7.987176
69,"olive oil, frozen vegetables,","mineral water, milk",0.003333,0.294118,6.128268
52,"mineral water, whole wheat pasta,","olive oil,",0.003866,0.402778,6.115863
44,"tomato sauce, ,","ground beef, spaghetti",0.003066,0.216981,5.535971
3,"fromage blanc, ,","honey,",0.003333,0.245098,5.164271
0,"light cream, ,","chicken,",0.004533,0.290598,4.843951
2,"pasta, ,","escalope,",0.005866,0.372881,4.700812
24,"ground beef, french fries,","herb & pepper,",0.003200,0.230769,4.665768
61,"mineral water, chocolate, frozen vegetables","shrimp,",0.003200,0.328767,4.600900
66,"ground beef, frozen vegetables,","mineral water, milk",0.003733,0.220472,4.593788

In [21]:
len(transactions)

7501